  <% @data = Province.all.map do |o|
    { x: o.name, y: o.id }
     end %>
  <div class="chart text-center">
    <canvas id="chart"></canvas>
    <div id="legend" class="legend"></div>
   
  </div>
  <script type="text/javascript">
    var data = {
      datasets: [{
        label: "2系列接单数",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: <%= raw @data.to_json %>
      }]
    };

    var options = {
      scaleTimeFormat: "HH:MM",
      scaleDateFormat: "mm/dd",
      scaleDateTimeFormat: "yyyy/mm/dd HH:MM",
      scaleType: "date",
      scaleLabel: "<%%= value %>元",
    };

    var ctx = document.getElementById("chart").getContext("2d");
    var chart = new Chart(ctx).Scatter(data, options);

    //then you just need to generate the legend
    var legend = chart.generateLegend();

    //and append it to your page somewhere
    document.getElementById("legend").innerHTML = legend;
  </script>