default: &default
  sdk_app_id: <%= ENV["QCLOUD_SMS_SDK_APP_ID"] %>
  app_key: <%= ENV["QCLOUD_SMS_APP_KEY"] %>
  templates:
    confirmation: 30759
    contact_pay_merchant_order: 40501
    contact_pay_mobile_order: 40508
    mechanic_pay_order: 46756
    mechanic_refund_order: 5933

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
