<% skill_cd = params[:skill].to_i %>
<% @skilled_orders = @mechanic.skilled_orders(skill_cd).order(created_at: :asc).all %>
<% if @skilled_orders.count > 0 %>
  <% @data = @skilled_orders.map do |o| { x: o.created_at.to_i * 1000, y: o.mechanic_income } end %>
  <div class="chart text-center">
    <canvas id="chart"></canvas>
    <div id="legend" class="legend"></div>
    <strong><%= Mechanic.skills.key(skill_cd) %>[<%= @skilled_orders.count %>单]</strong>
  </div>
  <script type="text/javascript">
    var data = {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    var options = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    };

    var ctx = document.getElementById("chart").getContext("2d");
    var chart = new Chart(ctx,{type: 'bar',data, options});

    //then you just need to generate the legend
    var legend = chart.generateLegend();

    //and append it to your page somewhere
    document.getElementById("legend").innerHTML = legend;
  </script>
<% else %>
  <div class="alert alert-danger">数据过少无法绘制图表</div>
<% end %>
