<div class="row">
  <div class="col-md-7">
    <%= bootstrap_simple_form_for([ :merchants, @number ],url: url) do |f| %>
      <%= f.error_messages %>

      <%= f.input :pwd_number_default %>

       <%#= f.input :check_status, collection: enum_option_pairs(Number, :check_status) %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
  </div>
</div>
